USE [master]
GO
/****** Object:  Database [ClothersForHandDB]    Script Date: 13.10.2021 13:27:53 ******/
CREATE DATABASE [ClothersForHandDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothersForHandDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClothersForHandDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothersForHandDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClothersForHandDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothersForHandDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothersForHandDB]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[MaterialTypeID] [int] NOT NULL,
	[MaterialTypeName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PossibleSupliersMaterial]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PossibleSupliersMaterial](
	[PossibleSuplierID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[SuplierID] [int] NOT NULL,
 CONSTRAINT [PK_PossibleSupliersMaterial] PRIMARY KEY CLUSTERED 
(
	[PossibleSuplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](30) NOT NULL,
	[MaterialTypeID] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[Cost] [money] NOT NULL,
	[CountInStock] [int] NOT NULL,
	[MinCount] [int] NOT NULL,
	[CountInPackage] [int] NOT NULL,
	[UnitMeasureID] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT dbo.MaterialType.MaterialTypeName, dbo.Material.MaterialName, dbo.Material.CountInStock, COUNT(dbo.PossibleSupliersMaterial.MaterialID) AS CountPossibleSuplier, FORMAT(dbo.Material.Cost, '#.00 руб') + '.' AS Cost
FROM   dbo.Material INNER JOIN
             dbo.MaterialType ON dbo.Material.MaterialTypeID = dbo.MaterialType.MaterialTypeID INNER JOIN
             dbo.PossibleSupliersMaterial ON dbo.Material.MaterialID = dbo.PossibleSupliersMaterial.MaterialID
GROUP BY dbo.MaterialType.MaterialTypeName, dbo.Material.MaterialName, dbo.Material.CountInStock, dbo.Material.Cost
GO
/****** Object:  Table [dbo].[MaterialsChangeHistory]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsChangeHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Operation] [nvarchar](100) NOT NULL,
	[CountInStock] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_MaterialsChangeHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[Count] [int] NULL,
	[MaterialID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suplier]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplier](
	[SuplierID] [int] IDENTITY(1,1) NOT NULL,
	[SuplierName] [nvarchar](30) NOT NULL,
	[SuplierTypeID] [int] NOT NULL,
	[ITN] [bigint] NOT NULL,
	[QualityRating] [int] NOT NULL,
	[DateStartWorkWithSuplier] [date] NOT NULL,
 CONSTRAINT [PK_Suplier] PRIMARY KEY CLUSTERED 
(
	[SuplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuplierType]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuplierType](
	[SuplierTypeID] [int] NOT NULL,
	[SuplierTypeName] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_SuplierType] PRIMARY KEY CLUSTERED 
(
	[SuplierTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitMeasure]    Script Date: 13.10.2021 13:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMeasure](
	[UnitMeasureID] [int] NOT NULL,
	[UnitMeasureName] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_UnitMeasure] PRIMARY KEY CLUSTERED 
(
	[UnitMeasureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([MaterialID], [MaterialName], [MaterialTypeID], [Image], [Cost], [CountInStock], [MinCount], [CountInPackage], [UnitMeasureID], [Description]) VALUES (3, N'Резина 3x3', 1, NULL, 42751.0000, 727, 46, 8, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialsChangeHistory] ON 

INSERT [dbo].[MaterialsChangeHistory] ([HistoryID], [MaterialID], [Operation], [CountInStock], [Date]) VALUES (11, 1, N'Материал Резина 1x3 добавлен на склад', 77, CAST(N'2021-03-13' AS Date))
INSERT [dbo].[MaterialsChangeHistory] ([HistoryID], [MaterialID], [Operation], [CountInStock], [Date]) VALUES (12, 2, N'Материал Краска 2x3 добавлен на склад', 414, CAST(N'2021-03-13' AS Date))
INSERT [dbo].[MaterialsChangeHistory] ([HistoryID], [MaterialID], [Operation], [CountInStock], [Date]) VALUES (13, 3, N'Материал Резина 3x3 добавлен на склад', 727, CAST(N'2021-03-13' AS Date))
GO
SET IDENTITY_INSERT [dbo].[MaterialsChangeHistory] OFF
GO
INSERT [dbo].[MaterialType] ([MaterialTypeID], [MaterialTypeName]) VALUES (1, N'Резина')
INSERT [dbo].[MaterialType] ([MaterialTypeID], [MaterialTypeName]) VALUES (2, N'Краска')
INSERT [dbo].[MaterialType] ([MaterialTypeID], [MaterialTypeName]) VALUES (3, N'Силикон')
GO
SET IDENTITY_INSERT [dbo].[PossibleSupliersMaterial] ON 

INSERT [dbo].[PossibleSupliersMaterial] ([PossibleSuplierID], [MaterialID], [SuplierID]) VALUES (1, 73, 31)
INSERT [dbo].[PossibleSupliersMaterial] ([PossibleSuplierID], [MaterialID], [SuplierID]) VALUES (2, 28, 47)
INSERT [dbo].[PossibleSupliersMaterial] ([PossibleSuplierID], [MaterialID], [SuplierID]) VALUES (3, 73, 16)
GO
SET IDENTITY_INSERT [dbo].[PossibleSupliersMaterial] OFF
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Count], [MaterialID]) VALUES (1, N'Перчатки 0x1', 2, 5)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Count], [MaterialID]) VALUES (2, N'Перчатки 0x1', 2, 2)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Count], [MaterialID]) VALUES (3, N'Перчатки латаксные', 8, 1)
GO
SET IDENTITY_INSERT [dbo].[Suplier] ON 

INSERT [dbo].[Suplier] ([SuplierID], [SuplierName], [SuplierTypeID], [ITN], [QualityRating], [DateStartWorkWithSuplier]) VALUES (1, N'ГаражТелекомГор', 1, 1718185951, 18, CAST(N'2018-11-26' AS Date))
INSERT [dbo].[Suplier] ([SuplierID], [SuplierName], [SuplierTypeID], [ITN], [QualityRating], [DateStartWorkWithSuplier]) VALUES (2, N'Компания Омск', 2, 1878504395, 49, CAST(N'2012-05-10' AS Date))
INSERT [dbo].[Suplier] ([SuplierID], [SuplierName], [SuplierTypeID], [ITN], [QualityRating], [DateStartWorkWithSuplier]) VALUES (3, N'ГорМонтаж', 3, 1564667734, 39, CAST(N'2013-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Suplier] OFF
GO
INSERT [dbo].[SuplierType] ([SuplierTypeID], [SuplierTypeName]) VALUES (1, N'МКК')
INSERT [dbo].[SuplierType] ([SuplierTypeID], [SuplierTypeName]) VALUES (2, N'ОАО')
INSERT [dbo].[SuplierType] ([SuplierTypeID], [SuplierTypeName]) VALUES (3, N'ООО')
GO
INSERT [dbo].[UnitMeasure] ([UnitMeasureID], [UnitMeasureName]) VALUES (1, N'м')
INSERT [dbo].[UnitMeasure] ([UnitMeasureID], [UnitMeasureName]) VALUES (2, N'л')
INSERT [dbo].[UnitMeasure] ([UnitMeasureID], [UnitMeasureName]) VALUES (3, N'кг')
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([MaterialTypeID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_UnitMeasure] FOREIGN KEY([UnitMeasureID])
REFERENCES [dbo].[UnitMeasure] ([UnitMeasureID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_UnitMeasure]
GO
ALTER TABLE [dbo].[PossibleSupliersMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PossibleSupliersMaterial_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PossibleSupliersMaterial] CHECK CONSTRAINT [FK_PossibleSupliersMaterial_Material]
GO
ALTER TABLE [dbo].[PossibleSupliersMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PossibleSupliersMaterial_Suplier] FOREIGN KEY([SuplierID])
REFERENCES [dbo].[Suplier] ([SuplierID])
GO
ALTER TABLE [dbo].[PossibleSupliersMaterial] CHECK CONSTRAINT [FK_PossibleSupliersMaterial_Suplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Material]
GO
ALTER TABLE [dbo].[Suplier]  WITH CHECK ADD  CONSTRAINT [FK_Suplier_SuplierType] FOREIGN KEY([SuplierTypeID])
REFERENCES [dbo].[SuplierType] ([SuplierTypeID])
GO
ALTER TABLE [dbo].[Suplier] CHECK CONSTRAINT [FK_Suplier_SuplierType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[38] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Material"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MaterialType"
            Begin Extent = 
               Top = 9
               Left = 631
               Bottom = 152
               Right = 883
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PossibleSupliersMaterial"
            Begin Extent = 
               Top = 9
               Left = 346
               Bottom = 179
               Right = 587
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
